.list-content{margin-top:20px;overflow:hidden;}
.list-content .title{height:35px;line-height:35px;color:#fff;padding:0 10px;}
.list-content .title span{font-size:14px;font-family:'Microsoft Yahei';}
.list-content .title a{font-weight:normal;float:right;color:#fff;}
.list-l{float:left;width:720px;border:1px solid #009FC8;min-height:635px;}
.list-l-content{padding-top:20px;margin-bottom:20px;}
.list-l-content li{border-bottom:1px dashed #e0e0e0;margin-bottom:20px;overflow:hidden;}
.list-l-content .list-title{height:30px;line-height:30px;padding:0 10px;background:#EBEBEB;color:#333;font-size:16px;}
.list-l-content .list-title a{color:#333;}
.list-l-content .list-title a:hover{text-decoration:underline;}
.list-l-content li p{line-height:21px;padding:20px 10px;color:#333;text-indent:28px;}
.list-l-content .more{color:#666;margin:0 5px;}
.list-l-content .more:hover{color:#01637D;}

.list-r{float:right;width:260px;}
.list-r .r-list{border:1px solid #009FC8;margin-bottom:20px;}
.list-r .r-list:last-child{margin-bottom:0;}
.list-r .r-content p{padding:5px;line-height:25px;height:100px;overflow:hidden;}
.list-r ul{padding:10px 5px;}
.list-r li{line-height:20px;margin:3px 0;}
.list-r li span{color:#009FC8;}
.list-r dl{padding:10px 5px;}
.list-r dd,.list-r dt{line-height:21px;color:#E60213;}
.list-r dd{color:#666;font-size:12px;}

.content-title{text-align:center;line-height:40px;font-size:16px;}
.content-tips{text-align: center;color:#666;line-height:30px;font-size:12px;border-bottom:1px dashed #e0e0e0;margin:0 10px;}
.content-tips span{margin:0 10px;}
.content-tips em{font-style:normal;margin:0 3px;}
.content-info{padding:10px 20px;}
.content-info p{line-height:25px;margin-bottom:20px;color:#4C4C4C;text-indent:28px;}
.content-page{line-height:30px;margin:0 10px;border-top:1px dashed #e0e0e0;padding:0 10px;}
.content-page:last-child{border:none;}
.content-page a{color:#009FC8}
.content-page a:hover{text-decoration: underline;}
/*医院介绍*/
.hopspital-pic{float:left;margin-right:20px;}
/*专家介绍*/
.expert{padding:10px 0;}
.expert-pic{float:left;position:relative;width:208px;padding:0 10px;}
.expert-info{width:100%;margin-right:228px;}
.expert-info .info{padding:40px 20px 0 228px;line-height:21px;}
.expert-info .info .name{font-size:16px;}
.expert-info .info .posi{margin-left:5px;}
.expert-info .info p{padding:5px 0;text-indent:0;}
.expert-info .info .shanc{color:#E60213;}
.expert-info .info .exp-content{overflow:hidden;max-height:60px;}
.expert-info .info .exper-btn{display:block;width:90px;height:30px;border-radius:3px;background:#009FC8;color:#fff;line-height:30px;text-align:center;margin-top:10px;}
/*科室介绍*/
.list-l-content .keshi-list{padding:20px;overflow:hidden;}
.list-l-content .keshi-pic{float:left;margin-right:20px;}
.list-l-content .keshi-info{text-indent:24px;line-height:21px;}
/*联系我们*/
.touch{}
.touch-map{text-align:center;}
.touch-info{padding:20px;}
.touch-info p{line-height:30px;font-size:16px;background:#F2F2F2;margin-top:10px;padding:0 10px;}
/*分页*/
.list-page{padding:10px;overflow:hidden;}
.list-page .page{float:right;}
