<div id="articleAdd">
  <div class="form-group">
    <label for="articleTitle">文章标题</label>
    <input type="text" class="form-control" id="articleTitle" maxlength="50" placeholder="文章标题" v-model="article.title">
    <input id="articleId" type="hidden" v-model="article.id">
  </div>
  <div class="form-group">
    <label for="articleSummary">文章简介</label>
    <textarea class="form-control" id="articleSummary" maxlength="255" placeholder="文章简介" rows="3" v-model="article.summary"></textarea>
  </div>
  <div class="form-group">
    <label for="editor">文章内容</label>
    <textarea id="editor" name="articleContent" class="xheditor" v-model="article.content" style="width:600px;height:400px;"></textarea>
  </div>
  <button id="submitBtn" type="submit" class="btn btn-default">提交</button>
  <button id="deleteBtn" type="button" class="btn btn-danger">删除</button>
</div>