<div class="form-group">
  <label for="expertName">专家名称</label>
  <input type="text" class="form-control" id="expertName" v-model="expert.name" />
  <input type="hidden" id="expertId" v-model="expert.id"/>
</div>
<div class="form-group">
  <label for="postion">专家职称</label>
  <input type="text" class="form-control" id="position" v-model="expert.position" />
</div>
<div class="form-group">
  <label for="major">主治</label>
  <input type="text" class="form-control" id="major" v-model="expert.major" />
</div>
<label for="contentLink">配图</label>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group" id="imgContainer">
      <input id="imgUrl" type="text" class="form-control" v-model="expert.image" placeholder="图片地址">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="imgPicker">选择图片</button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img id="expertImg" v-bind:src="expert.image" />
    </a>
  </div>
</div>
<div class="form-group">
  <label for="summary">摘要</label>
  <textarea class="form-control" rows="3" name="content" id="summary" v-model="expert.summary"></textarea>
</div>
<div class="form-group">
  <label for="editor">详情介绍</label>
  <textarea id="editor" class="xheditor" style="width:600px;height:400px;" v-model="expert.content"></textarea>
</div>
<button id="submitBtn" type="submit" class="btn btn-default">提交</button>
<button id="deleteBtn" type="button" class="btn btn-danger">删除</button>