<!--页脚-->
<div class="foot bg1a">
	<div class="warp">
		<div class="logo"><img src="/assets/img/logo-b.png" alt="" width="330" height="80" /></div>
		<div class="foot-info">
			<ul>
				<li>Copyright 2012, 版权所有 昌图肛肠医院-- </li>
				<li>联系电话：74492555</li>
				<li>联系地址：昌图火车站东50米</li>
			</ul>
		</div>
	</div>
</div>